<main>
    <div class="background"></div>
    <div class="foreground">
        <a href="/index">
            <div class="container">
                <span class="text1">Welcome in</span>
                <span class="text2">EatsDB!</span>
            </div>

    </div>
</main>
<script src="js/script.js"></script>