<main>
    <div class="background"></div>
    <div class="foreground">
        <div class=container4>
            <h1>Enter eatsDB!
        </div>

    </div>
</main>
<script src="js/script.js"></script>