<link rel="stylesheet" href="styles/styles.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>


<main>
  <div class="background"></div>
  <div class=container4>
    <a href="/index">
      {{!-- <a href="http://localhost:3000/index"></a> --}}
      <h1>Enter eatsDB!
    </a>
  </div>
</main>
<script src="js/script.js"></script>