<header class="header">
  <div class="row" id="header_text-box">
    <div class="col-7">
      <img id="logo" src="assets/images/logo2.png">
    </div>




    <div class="col-5" id="add-food">
      <form action='/api/new/food' method=POST>
        <input name="name" type="text" class="form-control" id="add-food-input" placeholder="Find Your Recipe">
        <button id="add-food-button"><img id="add-food-image" src="assets/images/addBtn.jpg"></button>
      </form>
    </div>
  </div>
</header>
w


<ul>
  {{#each foods}}
  <li>
    <p>Name: {{this.food_name}}</p>
    <p>Food Ingredients: {{this.food_ing}}</p>
  </li>
  {{/each}}
</ul>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>